@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #27272a;
  --foreground: #dfdfdf;
  --text-color: #cc0000;
}

[data-theme="dark"] {
  --background: #dfdfdf;
  --foreground: #27272a;
  --text-color: #00cc22;
}
/* [data-theme="test"] {
  --background: #cc00ffcb;
  --foreground: #ba69e0;
  --text-color: #b8cc00;
} */

body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
