@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --svg-stroke: #1d1d1d;
  --svg-fill: #1d1d1d;
}

[data-theme="dark"] {
  --svg-stroke: #971111;
  --svg-fill: #121863;
}
.bg-gradient {
  background-image: linear-gradient(
    to bottom,
    transparent,
    #0d9488,
    transparent
  );
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1300px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
